{{media_url}}

{% for i in data %}
<div style="height: 250px; width: 300px; border: 5px solid black">
    <div style="justify-content: center; align-items: center; ">
<img style="width: 100px; height: 100px;" src="{{media_url}}{{i.Img}}" alt="">
<br>
<br>
{{i.Name}}
<br>
<br>
{{i.Desc}}
<br>
<br>
{{i.Ammt}}
<br>
<br>
<input type="number" name="quantity" placeholder="Enter Quantity" value="1">
<button><a href="{% url 'addTocart' pk=i.id %}">ADD TO CART</a></button>


{%endfor%}
</div>
<button><a href="{% url 'cart' %}">CART</a></button>
</div>